* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
a {
    text-decoration: none;
    color: inherit;
}
fieldset {
    border: none;
}
button {
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    padding: 1rem;
    font-size: 1.5rem;
    border: solid 0.2rem var(--light-gray);
    border-radius: 2rem;
}
button:hover {
    background-color: #555555;
    transition: all 300ms ease-in-out;
    color: #ffffff;
}
.half placeholder {
    font-family: 'Open Sans', sans-serif;
}
textarea {
    font-family: 'Open Sans', sans-serif;
    resize: none;
}