* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
a {
    text-decoration: none;
    color: inherit;
}
fieldset {
    border: none;
}
button {
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    padding: 1rem;
    font-size: 1.5rem;
    border: solid 0.2rem var(--light-gray);
    border-radius: 2rem;
}
button:hover {
    background-color: #555555;
    transition: all 300ms ease-in-out;
    color: #ffffff;
}
.half placeholder {
    font-family: 'Open Sans', sans-serif;
}
textarea {
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

:root {
    --white-color: #ffffff;
    --light-gray: #D3D3D3;
    --light-blue: #ACE3FD;
    --deep-blue: #1d4fe5;
    --medium-blue: #0aade7;
    --gap: 2rem;
    --padding: 5rem;
    --padding-two: 8rem;
}

.main-bg {
    background-image: url(/pipastyle/img/dragon-scales.svg);
    background-position: center;
    background-size: fit-content;
    color: #ffffff;
}

.section {
    min-height: 100vh;
    min-width: 100%;
}

.padding-logo {
    padding-left: 1.6rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    z-index: 2;
    background-color: var(--white-color);
    border-bottom: solid 0.16rem var(--light-gray);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: block;
    padding: 1.6rem;
    font-style: italic;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--light-blue);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.introduction {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    padding-left: var(--padding-two);
    padding-right: var(--padding-two);
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap:var(--gap);
    padding-bottom: 4rem
}

.intro-text-content p {
    background-color: #ffffff9d;
    padding: 1rem;
    border-radius: 2rem;
}

.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}

.intro-img img,
.intro-img svg {
    max-width: 70%;
    height: auto;
}

.gallery-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: var(--padding-two);
    padding-left: var(--padding-two);
    padding-right: var(--padding-two);
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    font-style: italic;
    font-size: 1.6rem;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 10rem;
}

.grid-gallery div {
    min-width: 100%;
    min-height: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.grid-gallery div img {
    transition: all 300ms ease-in-out;
    border: solid 0.1rem #4B4B4B;
}

.grid-gallery div img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(2deg);
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    padding: 8rem;
    counter-reset: grid-counter;
}

.grid-info div article p,
.grid-feedback div article blockquote {
    font-size: 1.6rem;
}

.grid-info div {
    background-color: #ffffff9d;
    padding: 1rem;
    border-radius: 2rem;
}

.grid-info h3 {
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid-info h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    z-index: 1;
    font-size: 6rem;
    font-style: italic;
    rotate: 8deg;
    top: -2rem;
    left: 0;
}

.grid-feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    margin: 8rem;
    color: #ffffff;
}

.grid-feedback div {
    background-color: #4B4B4B;
    border-radius: 2rem;
}

.grid-feedback div blockquote {
    background-color: #555555;
    border-radius: 2rem;
    padding: 1rem;
}

.flex-feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
}

.flex-feedback img {
    width: 8rem;
    height: 8rem;
    border: solid 0.1rem var(--light-gray);
    border-radius: 100%;
}

.feedback-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feedback-name h3 {
    margin-left: 1.5rem;
}

.social-midias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding-bottom: 1rem;
    padding-top: 5rem;
}

.social-midias div img {
    width: 6rem;
}

.flex-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    gap: var(--gap);
    padding-top: var(--padding);
}
.flex-form h3 {
    font-style: oblique;
}

/* essa div é a que separa os dois grupos: um de inputs e outro com o textarea */
.form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
}

/* tanto a parte dos inputs quanto a parte do textarea tão com essa classe */
.half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 49% pra ter um espaço no meio separando */
    width: 49%;
    height: 100%;
}

/* setando os inputs e o select pra pegar o espaço todo disponível */
.half input,
.half select,
.half option {
    width: 100%;
    border: solid 0.2rem var(--light-gray);
    border-radius: 2rem;
    padding: 0.3rem;
}

/* botei a height 70% pq aqui eu to estilizando SÓ O TEXTAREA, então tinha que dividir espaço com a label em cima dele */
.half textarea {
    width: 100%;
    height: 70%;
    border: solid 0.2rem var(--light-gray);
    border-radius: 2rem;
    padding: 0.3rem;
}
.half label {
    font-style: italic;
}

@media (max-width: 1200px) {
    .intro-img {
        justify-content: center;
    }
    .intro-img img {
        max-width: 100%;
    }
}
@media (max-width: 1000px) {
    .grid-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex-form {
        padding-top: var(--padding);
        height: 750px;
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .half {
        width: 70%;
    }

    .half textarea {
        height: 100%;
    }
    .grid-gallery {
        margin: 4rem;
    }
}

@media (max-width: 900px) {
    .introduction {
        padding-top: var(--padding-two);
        padding-left: 4rem;
        padding-right: 4rem;
        grid-template-columns: 1fr;
    }
    .grid-info {
        grid-template-columns: 1fr;
    }
    .intro-text-content {
        padding-bottom: 0;
    }
    .menu {
        bottom: 0;
        text-align: center;
    }

    .nav-flex,
    .nav-flex ul {
        flex-direction: column;
        justify-content: center;
    }

    .nav-flex {
        height: 100vh;
    }
    .close-menu {
        display: none;
    }
    .close-menu:not(:checked)~.menu {
        display: none;
    }
    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 3;
        top: 2rem;
        right: 2rem;
        background: #4B4B4B;
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    .grid-gallery div img {
        border: solid 0.2rem black;
    }
}

@media (max-width: 800px) {

    .introduction,
    .grid-gallery,
    .grid-info,
    .grid-feedback {
        grid-template-columns: 1fr;
    }
    .grid-feedback, .grid-info {
        padding: 4rem;
        margin: 0;
    }
    .grid-gallery div {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .grid-gallery div img {
        width: 100%;
    }
}
